nav{
    background-color: $mainColor;
        ul{
        list-style: none;
        display: flex;
        li{ 
            a{
            text-decoration: none;
            font-size: $textLg;
            margin-right: 10px;
            }
        }
    }
    img{
        width: 80px;
    }
}