//variables globales
$mainColor:lightskyblue;
$hColor:darkslateblue;
$black:rgb(18, 17, 17);
$white:rgb(235, 229, 229);
$blue: blue;

//fonts
$mainFont:'Roboto', sans-serif;

//weight
$textLight:300;
$textRegular:400;
$textBold:600;

//sizes
$textSm:0.8em;
$textMd:1em;
$textLg:2em;
$textXl:3em;